.main{
    
    width: 600px;
    background: black;
    padding: 15px;
  }

.div1{
    background-color:rgb(237, 240, 245);
    padding: 15px;
    
}

.div2{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    gap: 20px;
    border-radius: 8px;
}

.div3{
    display: flex;
    gap: 5px;
}
.div4{
    width: 50px;
    height: 50px;
    background-color: blue;
}


.div5{
    display: flex;
    flex-direction: column;
}

.div6{
   
    display: flex;
    justify-content:space-between
    
    
}
.div7{
    border-radius: 8px;
    padding: 1px;
    background-color: rgb(237, 240, 245);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.div8{
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-radius: 6px;
}

.div9{
    padding: 20px;
    display: flex;
    align-items:center;
    justify-content: center;
 
}

.titulo{
    display: flex;
    justify-content: center;
    color: blue;
    gap: 3px ;
}
